.card-home {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-home:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image-home {
    width: 100%;
    height: 400px; /* Alto fijo */
    object-fit: cover; /* Asegura que la imagen cubra el área */
    object-position: center; /* Centra la imagen */
}

.card-content-home {
    padding: 16px;
}

.card-title-home {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #333;
}

.card-description-home {
    font-size: 1em;
    color: #666;
    margin-bottom: 16px;
}

.card-price-home {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 16px;
    font-weight: bold;
}

.card-button-home {
    background-color: rgb(16, 90, 226);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card-button-home:hover {
    background-color: rgb(10, 60, 160);
}
